.logout{
  cursor: pointer;
}
.img-circle {
  border-radius: 50%;
}

.img-responsive {
  // display: block;
  margin-right: 5px;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

img {
  border: 0;
}

.dropdown-toggle{
  cursor: pointer;
}